@using BadIdeas.FontAwesome.Icons

<header class="flex flex-row items-center py-4">
    <div class="flex-auto uppercase pl-5 pr-3 items-center space-x-4 antialiased text-gray-100 font-thin text-3xl">
        Monorail<span class="text-sky-400 font-black">Play</span>
    </div>
    <div class="items-center mr-4">
        <a href="https://github.com/monorailcss/MonorailCss.Framework" target="_blank">
            <Icon Item="@Brands.Github()" class="w-8 fill-slate-400 hover:fill-sky-400 transition-colors"> </Icon>
        </a>
    </div>
</header>