@page "/"
@using MonorailCss

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>Here's all the CSS classes in your razor project</h2>

@{
    var allClasses = string.Join(Environment.NewLine, CssJit.Values());
}

<pre>@allClasses</pre>

<SurveyPrompt Title="How is Blazor working for you?" />

